<header>
    <div class="header">
        <div class="logo">
            <img src="../images/honda.svg" alt="">
        </div>
        <div class="burger">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>

        <aside class="menu_aside">
            <nav class="menu_aside_nav">
                <ul class="menu_aside_nav_list">
                    <li><a href="#">設計</a></li>
                    <li><a href="#">設計師推薦</a></li>
                    <li><a href="#">安全</a></li>
                    <li><a href="#">行動力</a></li>
                    <li><a href="#" class="-on">賞車</a></li>
                    <li><a href="#">規格</a></li>
                    <li><a href="#">原廠配件</a></li>
                </ul>
            </nav>
        </aside>

    </div>
</header>

